body{
    font-family: "Helvetica Neue", Helvetica;
    background: #000;
}

#container{
    outline: 1px solid #fff;
    width: 960px;
    margin: 0 auto;
    overflow:hidden;
    height: 600px;
    margin-top: 10px;
    position: relative;
    outline: 1px solid #FFFFFF;
}

.flipcard{
    position: absolute;
    top: 110px;
    left: 300px;
}
.flipcard.active{
}

.flipcard.left{
    left: -180px;
}

.flipcard.right{
    left: 780px;
}