body{
    font-family: "Helvetica Neue", Helvetica;
    background: url(../images/landscaping1.jpg) no-repeat;
}

#container{
    border: 1px solid #fff;
    width: 1024px;
    margin: 0 auto;
    overflow:hidden;
    height: 600px;
    margin-top: 10px;
}