body{
    font-family: "Helvetica Neue", Helvetica;
    background: #000;
}

#gallery{
    outline: 1px solid #fff;
    width: 960px;
    margin: 0 auto;
    overflow:hidden;
    height: 600px;
    margin-top: 10px;
    position: relative;
    outline: 1px solid #FFFFFF;
}

.flipcard{
    position: absolute;
    top: 65px;
    left: 300px;
}