.flipcard{
    width: 360px;
    height: 360px;
    background: #fff;
    color: #fff;
    padding: 10px;
    /*todo add webkit transitions*/
    -moz-transition: -moz-transform 200ms,
        left 200ms 200ms;
    -moz-animation-timing-function: ease-out;
    cursor: pointer;
}

.flipcard h1{
    text-shadow: 0px -1px 0px #333, 0px 1px 0px #EFEFEF;
    color: #666;
    text-align:center;
}

.flipcard.active{
    -moz-transition: -moz-transform 200ms,
        left 200ms 200ms;
    -moz-animation-timing-function: ease-out;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
}

.flipcard .info{
    overflow: hidden;
    height: 0px;
    line-height: 32px;
    background: #999;
    margin-left: -10px;
    margin-right: -10px;
    border-radius: 0 0 10px 10px;
    margin-top: 6px;
    box-shadow: 0px 3px 3px #444 inset;
    -moz-transition: height 200ms 0ms;
}

.flipcard.active .info{
    height: 75px;
    -moz-transition: height 200ms 400ms ease-out;
}